.about {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 85%; /* Adjust height relative to viewport width */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 35%;
  align-items: center;
  margin-top: 0em; /* Adjust margin using em units for better scalability */
}

.aboutBottom p {
  width: 90%;
  max-width: 1200px;
  font-size: 25px; /* Adjust font size relative to viewport width */
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px; /* Adjust font size relative to viewport width */
  color: black;
  height: 0em; /* Adjust height using em units for better scalability */
  display: flex;
  justify-content: center;
  transform: translateY(-0.5em); /* Adjust transform using em units for better scalability */
}
