/* Posts.css */

/* Search bar styles */
.search-bar {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 40%;
  margin-bottom: 20px;
  font-size: 14px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  color: rgba(255, 255, 255, 0.596); /* Smoky white color with opacity */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.658); /* Smoky white color for placeholder text */
}

/* Adjust color of input text when focused */
.search-bar:focus {
  color: rgba(255, 255, 255, 0.9); /* Lighter smoky white color when focused */
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Gap between columns */
}

.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post h3 {
  margin-top: 0;
}

.post p {
  margin-bottom: 10px;
}

.post img {
  max-width: 200px; /* Maximum width */
  max-height: 200px; /* Maximum height */
  width: 100%; /* Take up full width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
  align-self: center; /* Center image horizontally */
}

/* Center the title */
h1 {
  font-size: 34px;
  text-align: center;
}

/* Adjust title size based on window width */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 20px; /* Adjust font size for even smaller screens */
  }
}
