.service {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.service .serviceTitle {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 5vw; /* Adjust font size relative to viewport width */
}

.serviceList {
  width: 90%; /* Adjust width relative to the parent container */
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust grid columns automatically based on container size */
  gap: 20px; /* Add gap between grid items */
  place-items: center;
}

/* SERVICES ITEM STYLING */

.ServiceItem {
  border-radius: 4vw; /* Adjust border radius relative to viewport width */
  width: 100%;
  height: 80%;
  max-width: 300px; /* Set maximum width for consistency */
  margin: 1vw; /* Adjust margin relative to viewport width */
  box-shadow: 0px 3px 5vw rgba(0, 0, 0, 0.2); /* Adjust box shadow relative to viewport width */
}

.ServiceItem:hover {
  box-shadow: 0px 3px 5vw rgba(0, 0, 0, 0.5); /* Adjust hover box shadow relative to viewport width */
  transition: 0.3s ease-in;
  cursor: pointer;
}

.ServiceItem div {
  border-top-left-radius: 4vw; /* Adjust border radius relative to viewport width */
  border-top-right-radius: 4vw; /* Adjust border radius relative to viewport width */
  width: auto;
  height: 10vw; /* Adjust height relative to viewport width */
  max-height: 300px; /* Set maximum height for consistency */
  background-position: center top ;
  background-repeat: no-repeat;
  background-size: 57% ;
}
/* Overlay styling */


/* Service name styling */
.ServiceItem .name {
  bottom: 0px; /* Adjust position as needed */
  left: 0px; /* Adjust position as needed */
  color: rgb(255, 255, 255);
  background-color: rgba(149, 146, 146, 0.752); /* Semi-transparent background */
  padding: 5px;
  border-radius: 4vw;
  white-space: nowrap; /* Prevent text wrapping */
}

.ServiceItem h2 {
position:center;  
  margin: 50px; /* Remove default margin */
}