.service {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items:left;
  flex-direction: column;
}
.service .serviceTitle {
  font-family: cursive;
  font-size: 60px;
}

.serviceList {
  width: 50vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

/* SERVICES ITEM STYLING */

.ServiceItem {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 42px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.ServiceItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.ServiceItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ServiceItem h1,
.ServiceItem p {
  margin-left: 0px;
}

@media only screen and (max-width: 1300px) {
  .serviceList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .serviceList {
    grid-template-columns: 1fr;
  }
}
